In [265]:
import pandas as pd 
import matplotlib.pyplot as plt

In [266]:
V_08=pd.read_csv('all_alpha_08.csv')
V_08.head(5)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [267]:
V_08.shape

(2404, 18)

In [268]:
V_18=pd.read_csv('all_alpha_18.csv')
V_18.head(5)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4WH3,small car,3,23,33,27,6,No,330

## Number of samples in each dataset

In [269]:
print(len(V_08),len(V_18))

2404 1611

## Number of columns in each dataset

In [270]:
print(len(V_08.columns),len(V_18.columns))

18 18

## Find the Number of duplicated rows in each dataset

In [271]:
len(V_08)-len(V_08.drop_duplicates())

25

In [272]:
# V_08.drop_duplicates()

In [273]:
len(V_18)-len(V_18.drop_duplicates())

0

In [274]:
len(V_08.drop_duplicates())

2379

In [275]:
V_08.head(3)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no

In [276]:
V_18.head(3)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402

## print the Datatype for each column in the two datasets

In [277]:
V_08.head(5)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [278]:
V_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
Model                   2404 non-null object
Displ                   2404 non-null float64
Cyl                     2205 non-null object
Trans                   2205 non-null object
Drive                   2311 non-null object
Fuel                    2404 non-null object
Sales Area              2404 non-null object
Stnd                    2404 non-null object
Underhood ID            2404 non-null object
Veh Class               2404 non-null object
Air Pollution Score     2404 non-null object
FE Calc Appr            2205 non-null object
City MPG                2205 non-null object
Hwy MPG                 2205 non-null object
Cmb MPG                 2205 non-null object
Unadj Cmb MPG           2205 non-null float64
Greenhouse Gas Score    2205 non-null object
SmartWay                2404 non-null object
dtypes: float64(2), object(16)
memory usage: 338.1+ KB

In [279]:
V_18.head(5)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4WH3,small car,3,23,33,27,6,No,330

In [280]:
V_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
Model                   1611 non-null object
Displ                   1609 non-null float64
Cyl                     1609 non-null float64
Trans                   1611 non-null object
Drive                   1611 non-null object
Fuel                    1611 non-null object
Cert Region             1611 non-null object
Stnd                    1611 non-null object
Stnd Description        1611 non-null object
Underhood ID            1611 non-null object
Veh Class               1611 non-null object
Air Pollution Score     1611 non-null int64
City MPG                1611 non-null object
Hwy MPG                 1611 non-null object
Cmb MPG                 1611 non-null object
Greenhouse Gas Score    1611 non-null int64
SmartWay                1611 non-null object
Comb CO2                1611 non-null object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.6+ KB

In [281]:
len(V_08.columns)

18

## Rows with missing data

In [285]:
null_V_08 =V_08.shape[0] - V_08.dropna().shape[0]
null_V_08

199

In [287]:
null_V_18 =V_18.shape[0] - V_18.dropna().shape[0]
null_V_18

2

## Lets See some unique values in each of these datasets

In [288]:
V_08['SmartWay'].unique()

array(['no', 'yes'], dtype=object)

In [289]:
V_18['SmartWay'].unique()

array(['No', 'Yes', 'Elite'], dtype=object)

In [25]:
V_08['Sales Area'].unique()

array(['CA', 'FA', 'FC'], dtype=object)

In [26]:
len(V_08['Trans'].unique())

15

In [27]:
V_08.dtypes

Model                    object
Displ                   float64
Cyl                      object
Trans                    object
Drive                    object
Fuel                     object
Sales Area               object
Stnd                     object
Underhood ID             object
Veh Class                object
Air Pollution Score      object
FE Calc Appr             object
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Unadj Cmb MPG           float64
Greenhouse Gas Score     object
SmartWay                 object
dtype: object

In [36]:
V_18.dtypes

Model                    object
Displ                   float64
Cyl                     float64
Trans                    object
Drive                    object
Fuel                     object
Cert Region              object
Stnd                     object
Stnd Description         object
Underhood ID             object
Veh Class                object
Air Pollution Score       int64
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Greenhouse Gas Score      int64
SmartWay                 object
Comb CO2                 object
dtype: object

In [290]:
V_08['Fuel'].unique()

array(['Gasoline', 'ethanol/gas', 'ethanol', 'diesel', 'CNG'],
      dtype=object)

In [38]:
V_18['Fuel'].unique()

array(['Gasoline', 'Gasoline/Electricity', 'Diesel', 'Ethanol/Gas',
       'Electricity'], dtype=object)

In [39]:
print('Gasoline' in V_08['Fuel'].unique())

True

In [40]:
'Gasoline' in V_18['Fuel'].unique()

True

In [41]:
print( 'Ethanol/Gas' in V_18['Fuel'].unique())
print( 'Ethanol/Gas' in V_08['Fuel'].unique())

True
False

In [42]:
print( 'Gasoline/Electricity' in V_18['Fuel'].unique())
print( 'Gasoline/Electricity' in V_08['Fuel'].unique())

True
False

In [43]:
print( 'CNG' in V_18['Fuel'].unique())
print( 'CNG' in V_08['Fuel'].unique())

False
True

In [44]:
print( 'Electricity' in V_18['Fuel'].unique())
print( 'Electricity' in V_08['Fuel'].unique())

True
False

In [291]:
V_08=pd.read_csv('all_alpha_08.csv')
V_18=pd.read_csv('all_alpha_18.csv')

In [292]:
V_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no

In [293]:
V_18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386

# Drop Columns that is not needed

In [48]:
# drop columns from 2008 dataset
V_08.drop(['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'], axis=1, inplace=True)
# confirm changes
V_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [49]:
# drop columns from 2008 dataset
V_18.drop(['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2'], axis=1, inplace=True)

# confirm changes
V_18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

# Rename Columns with other names that is easy for the developer

In [50]:
V_08.rename(columns={'Sales Area': 'Cert Region'}, inplace=True)
V_08.head(5)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

# We want to make sure that all the columns names for 2008 and 2018 datasets are identical



# lets remove the spaces in the columns names and replace it with _  
# and then make it lower case letters


### We can make this process done using Strip function, Python strip functions remove characters or white spaces from the beginning or end of a string.

### rather than using For loop that could makes our code builky we can use Lambda Function to loop over all the possible values

In [51]:
# replace spaces with underscores and lowercase labels for 2008 dataset
V_08.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

# confirm changes
V_08.head(5)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

Lambda functions consist of three parts:

    Keyword
    Bound variable/argument, and
    Body or expression

The keyword is mandatory, and it must be a lambda, whereas the arguments and body can change based on the requirements. You must be wondering why you should go for lambda functions when you have other regular functions. Fair question – let me elaborate on this.

![](lambda.jpg)

![](lambda_V2.png)

In [60]:
# replace spaces with underscores and lowercase labels for 2008 dataset
V_18.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

# confirm changes
V_18.head(5)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,small SUV,3,20,28,23,5,No
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,small SUV,3,19,27,22,4,No
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,small SUV,3,19,27,22,4,No
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,23,33,27,6,No

In [61]:
# confirm column labels for 2008 and 2018 datasets are identical
len(V_18.columns) == len(V_08.columns)

True

In [62]:
# make sure they're all identical like this
(V_18.columns == V_08.columns).all()

True

In [63]:
# save new datasets for next section
V_08.to_csv('data_08_v1.csv', index=False)
V_18.to_csv('data_18_v1.csv', index=False)

# Filter, Drop Nulls, Dedupe
Use `data_08_v1.csv` and `data_18_v1.csv`. You should've created these data files in the previous section: *Cleaning Column Labels*.

In [64]:
V_08=pd.read_csv('data_08_v1.csv')
V_18=pd.read_csv('data_18_v1.csv')

In [65]:
V_08.shape

(2404, 14)

In [66]:
V_18.shape

(1611, 14)

In [67]:
V_08=V_08[V_08['cert_region'] =='CA']

In [68]:
V_08['cert_region'].unique()

array(['CA'], dtype=object)

In [69]:
V_18=V_18[V_18['cert_region'] =='CA']

In [70]:
V_18['cert_region'].unique()

array(['CA'], dtype=object)

In [71]:
print(len(V_18))

798

In [72]:
print(len(V_08))

1084

In [73]:
V_08.shape

(1084, 14)

In [74]:
V_18.shape

(798, 14)

In [75]:
V_08

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no
6,ACURA TL,3.2,(6 cyl),Auto-S5,2WD,Gasoline,CA,midsize car,7,18,26,21,6,yes
7,ACURA TL,3.5,(6 cyl),Auto-S5,2WD,Gasoline,CA,midsize car,7,17,26,20,6,yes
8,ACURA TL,3.5,(6 cyl),Man-6,2WD,Gasoline,CA,midsize car,7,18,27,21,6,yes
14,ACURA TSX,2.4,(4 cyl),Man-6,2WD,Gasoline,CA,small car,6,19,28,22,6,no
15,ACURA TSX,2.4,(4 cyl),Auto-S5,2WD,Gasoline,CA,small car,6,20,28,23,7,yes
18,ASTON MARTIN DB9,5.9,(12 cyl),Man-6,2WD,Gasoline,CA,small car,6,10,16,12,0,no
19,ASTON MARTIN DB9,5.9,(12 cyl),Auto-S6,2WD,Gasoline,CA,small car,6,11,18,13,1,no
22,ASTON MARTIN DB9 Volante,5.9,(12 cyl),Man-6,2WD,Gasoline,CA,small car,6,10,16,12,0,no
23,ASTON MARTIN DB9 Volante,5.9,(12 cyl),Auto-S6,2WD,Gasoline,CA,small car,6,11,17,13,1,no
26,ASTON MARTIN V8 Vantage,4.3,(8 cyl),Man-6,2WD,Gasoline,CA,small car,6,12,19,15,3,no
27,ASTON MARTIN V8 Vantage,4.3,(8 cyl),Auto-S6,2WD,Gasoline,CA,small car,6,13,20,15,3,no
28,AUDI A3,2.0,(4 cyl),Man-6,2WD,Gasoline,CA,station wagon,7,21,29,24,7,yes
29,AUDI A3,2.0,(4 cyl),Auto-S6,2WD,Gasoline,CA,station wagon,7,22,29,25,7,yes
33,AUDI A3,3.2,(6 cyl),Auto-S6,4WD,Gasoline,CA,station wagon,6,18,25,21,6,no
34,AUDI A4,2.0,(4 cyl),Auto-AV,2WD,Gasoline,CA,small car,7,21,30,24,7,yes
39,AUDI A4,3.1,(6 cyl),Man-6,4WD,Gasoline,CA,small car,6,15,25,19,5,no
40,AUDI A4,3.1,(6 cyl),Auto-S6,4WD,Gasoline,CA,small car,6,17,25,20,6,no
41,AUDI A4,3.1,(6 cyl),Auto-AV,2WD,Gasoline,CA,small car,6,18,27,21,6,no
44,AUDI A4 Avant,3.1,(6 cyl),Man-6,4WD,Gasoline,CA,station wagon,6,15,25,19,5,no
45,AUDI A4 Avant,3.1,(6 cyl),Auto-S6,4WD,Gasoline,CA,station wagon,6,17,25,20,6,no
47,AUDI A4 Cabriolet,3.1,(6 cyl),Auto-S6,4WD,Gasoline,CA,small car,6,17,25,20,6,no
50,AUDI A6,3.1,(6 cyl),Auto-S6,4WD,Gasoline,CA,midsize car,6,17,25,20,6,no
51,AUDI A6,3.1,(6 cyl),Auto-AV,2WD,Gasoline,CA,midsize car,6,18,27,21,6,no
53,AUDI A6,4.2,(8 cyl),Auto-S6,4WD,Gasoline,CA,midsize car,6,16,23,18,5,no
55,AUDI A6 Avant,3.1,(6 cyl),Auto-S6,4WD,Gasoline,CA,station wagon,6,17,25,20,6,no
57,AUDI A8,4.2,(8 cyl),Auto-S6,4WD,Gasoline,CA,midsize car,6,16,23,18,5,no
59,AUDI A8 L,4.2,(8 cyl),Auto-S6,4WD,Gasoline,CA,large car,6,16,23,18,5,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2345,VOLVO C70 Convertible,2.5,(5 cyl),Man-6,2WD,Gasoline,CA,small car,7,18,27,21,6,yes
2348,VOLVO S40,2.4,(5 cyl),Auto-S5,2WD,Gasoline,CA,small car,9.5,20,28,23,7,yes
2349,VOLVO S40,2.4,(5 cyl),Auto-S5,2WD,Gasoline,CA,small car,7,20,28,23,7,yes
2350,VOLVO S40,2.4,(5 cyl),Man-5,2WD,Gasoline,CA,small car,7,20,28,23,7,yes
2351,VOLVO S40,2.5,(5 cyl),Man-6,4WD,Gasoline,CA,small car,7,17,25,20,6,yes
2352,VOLVO S40,2.5,(5 cyl),Auto-S5,4WD,Gasoline,CA,small car,7,18,26,21,6,yes
2353,VOLVO S40,2.5,(5 cyl),Auto-S5,2WD,Gasoline,CA,small car,7,19,27,22,6,yes
2354,VOLVO S40,2.5,(5 cyl),Man-6,2WD,Gasoline,CA,small car,7,19,28,23,7,yes
2361,VOLVO S60,2.5,(5 cyl),Auto-L5,4WD,Gasoline,CA,small car,7,17,26,21,6,yes
2362,VOLVO S60,2.5,(5 cyl),Auto-S5,4WD,Gasoline,CA,small car,7,18,26,21,6,yes
2363,VOLVO S60,2.5,(5 cyl),Auto-L5,2WD,Gasoline,CA,small car,7,19,27,22,6,yes
2364,VOLVO S60,2.5,(5 cyl),Auto-S5,2WD,Gasoline,CA,small car,7,19,27,22,6,yes
2367,VOLVO S60,2.4,(5 cyl),Auto-S5,2WD,Gasoline,CA,small car,6,18,26,21,6,no
2368,VOLVO S60,2.4,(5 cyl),Man-6,2WD,Gasoline,CA,small car,6,18,26,21,6,no
2373,VOLVO S80,3.0,(6 cyl),Auto-S6,4WD,Gasoline,CA,midsize car,7,15,23,18,5,no
2374,VOLVO S80,3.2,(6 cyl),Auto-S6,2WD,Gasoline,CA,midsize car,7,16,24,19,5,no
2375,VOLVO S80,3.2,(6 cyl),Auto-S6,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no
2376,VOLVO S80,4.4,(8 cyl),Auto-S6,4WD,Gasoline,CA,midsize car,7,15,23,18,5,no
2381,VOLVO V50,2.4,(5 cyl),Auto-S5,2WD,Gasoline,CA,station wagon,9.5,20,28,23,7,yes
2382,VOLVO V50,2.4,(5 cyl),Auto-S5,2WD,Gasoline,CA,station wagon,7,20,28,23,7,yes
2383,VOLVO V50,2.4,(5 cyl),Man-5,2WD,Gasoline,CA,station wagon,7,20,28,23,7,yes
2384,VOLVO V50,2.5,(5 cyl),Man-6,4WD,Gasoline,CA,station wagon,7,17,25,20,6,yes
2385,VOLVO V50,2.5,(5 cyl),Auto-S5,4WD,Gasoline,CA,station wagon,7,18,26,21,6,yes
2386,VOLVO V50,2.5,(5 cyl),Auto-S5,2WD,Gasoline,CA,station wagon,7,19,27,22,6,yes
2387,VOLVO V50,2.5,(5 cyl),Man-6,2WD,Gasoline,CA,station wagon,7,19,28,23,7,yes
2394,VOLVO V70,3.2,(6 cyl),Auto-S6,2WD,Gasoline,CA,station wagon,7,16,24,19,5,no
2396,VOLVO XC 70,3.2,(6 cyl),Auto-S6,4WD,Gasoline,CA,SUV,7,15,22,17,4,no
2398,VOLVO XC 90,3.2,(6 cyl),Auto-S6,2WD,Gasoline,CA,SUV,7,14,20,16,4,no
2399,VOLVO XC 90,3.2,(6 cyl),Auto-S6,4WD,Gasoline,CA,SUV,7,14,20,16,4,no
2400,VOLVO XC 90,4.4,(8 cyl),Auto-S6,4WD,Gasoline,CA,SUV,7,13,19,15,3,no

In [76]:
V_08.drop(['cert_region'], axis=1, inplace=True)
V_18.drop(['cert_region'], axis=1, inplace=True)

In [77]:
V_08.shape

(1084, 13)

In [78]:
V_18.shape

(798, 13)

## View missing value count for each feature in 2008

In [79]:
V_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [80]:
V_18.isnull().sum()

model                   0
displ                   1
cyl                     1
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

# drop rows with any null values in both datasets

In [81]:
V_18.dropna(inplace=True)

In [82]:
V_08.dropna(inplace=True)

# checks if any of columns in 2008 have null values - should print False

In [83]:
V_08.isnull().sum().any()

False

In [84]:
V_18.isnull().sum().any()

False

# print number of duplicates in 2008 and 2018 datasets

In [85]:
len(V_08)-len(V_08.drop_duplicates())

23

In [86]:
len(V_18)-len(V_18.drop_duplicates())

3

# drop duplicates in both datasets

In [87]:
V_08.drop_duplicates(inplace = True )

In [88]:
V_18.drop_duplicates(inplace = True )

# print number of duplicates again to confirm dedupe - should both be 0

In [89]:
len(V_08)-len(V_08.drop_duplicates())

0

In [90]:
len(V_18)-len(V_18.drop_duplicates())

0

In [91]:
V_08.to_csv('data_08_v2.csv', index=False)
V_18.to_csv('data_18_v2.csv', index=False)

# Fixing `cyl` Data Type
- 2008: extract int from string
- 2018: convert float to int

Load datasets `data_08_v2.csv` and `data_18_v2.csv`. You should've created these data files in the previous section: *Filter, Drop Nulls, Dedupe*.

In [99]:
V_08=pd.read_csv('data_08_v2.csv')
V_18=pd.read_csv('data_18_v2.csv')

In [100]:
V_08.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
1,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
2,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
3,ACURA TL,3.2,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,18,26,21,6,yes
4,ACURA TL,3.5,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,17,26,20,6,yes

In [101]:
V_18.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,small SUV,3,20,28,23,5,No
1,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,small SUV,3,19,27,22,4,No
2,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,small car,3,23,33,27,6,No
3,ACURA TLX,3.5,6.0,SemiAuto-9,2WD,Gasoline,small car,3,20,32,24,5,No
4,ACURA TLX,3.5,6.0,SemiAuto-9,4WD,Gasoline,small car,3,21,30,24,5,No

# check value counts for the 2008 cyl column

In [102]:
V_08['cyl'].value_counts()

(6 cyl)     409
(4 cyl)     283
(8 cyl)     199
(5 cyl)      48
(12 cyl)     30
(10 cyl)     14
(2 cyl)       2
(16 cyl)      1
Name: cyl, dtype: int64

In [103]:
V_18['cyl'].value_counts()

4.0     365
6.0     246
8.0     153
3.0      18
12.0      9
5.0       2
16.0      1
Name: cyl, dtype: int64

In [104]:
V_08.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
1,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
2,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
3,ACURA TL,3.2,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,18,26,21,6,yes
4,ACURA TL,3.5,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,17,26,20,6,yes

## Extract Int from String

This is a Regular Expression pattern \d is a regex pattern for digit 

+ is a regex pattern for at least (one or more) since they are enclosed in a ( ) that means the group that you want to capture.

Regex Explanation:

    Extract/capture one or more digit (0 - 9)

In [105]:
V_08.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
1,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
2,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
3,ACURA TL,3.2,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,18,26,21,6,yes
4,ACURA TL,3.5,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,17,26,20,6,yes

In [106]:
V_08['cyl']=V_08['cyl'].str.extract('(\d+)').astype(int)

C:\Users\Mohamed Elhaj-Abdou\Anaconda3-1\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

In [107]:
V_08.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7,18,26,21,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7,17,26,20,6,yes

# Check value counts for 2008 cyl column again to confirm the change

In [108]:
V_08['cyl'].value_counts()

6     409
4     283
8     199
5      48
12     30
10     14
2       2
16      1
Name: cyl, dtype: int64

# # Now convert the column of cyl in 2018 from string to int using astype method

In [109]:
V_18['cyl']=V_18['cyl'].astype('int32')

In [110]:
V_18.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6,SemiAuto-6,2WD,Gasoline,small SUV,3,20,28,23,5,No
1,ACURA RDX,3.5,6,SemiAuto-6,4WD,Gasoline,small SUV,3,19,27,22,4,No
2,ACURA TLX,2.4,4,AMS-8,2WD,Gasoline,small car,3,23,33,27,6,No
3,ACURA TLX,3.5,6,SemiAuto-9,2WD,Gasoline,small car,3,20,32,24,5,No
4,ACURA TLX,3.5,6,SemiAuto-9,4WD,Gasoline,small car,3,21,30,24,5,No

In [111]:
V_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 794 entries, 0 to 793
Data columns (total 13 columns):
model                   794 non-null object
displ                   794 non-null float64
cyl                     794 non-null int32
trans                   794 non-null object
drive                   794 non-null object
fuel                    794 non-null object
veh_class               794 non-null object
air_pollution_score     794 non-null int64
city_mpg                794 non-null object
hwy_mpg                 794 non-null object
cmb_mpg                 794 non-null object
greenhouse_gas_score    794 non-null int64
smartway                794 non-null object
dtypes: float64(1), int32(1), int64(2), object(9)
memory usage: 77.6+ KB

In [112]:
V_08.to_csv('data_08_v3.csv', index=False)
V_18.to_csv('data_18_v3.csv', index=False)

# Fixing `air_pollution_score` Data Type
- 2008: convert string to float
- 2018: convert int to float

Load datasets `data_08_v3.csv` and `data_18_v3.csv`. You should've created these data files in the previous section: *Fixing Data Types Pt 1*.

In [113]:
V_08=pd.read_csv('data_08_v3.csv')
V_18=pd.read_csv('data_18_v3.csv')

# try using pandas' to_numeric or astype function to convert the
# 2008 air_pollution_score column to float -- this won't work

In [114]:
V_08.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7,18,26,21,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7,17,26,20,6,yes

# Figuring out the issue
Looks like this isn't going to be as simple as converting the datatype. According to the error above, the air pollution score value in one of the rows is "6/4" - let's check it out.

In [115]:
V_08['air_pollution_score'].unique()

array(['7', '6', '9.5', '9', '6/4'], dtype=object)

# It's not just the air pollution score!

we have values with **6/4** which means that we have more than fuel type in the same car

The mpg columns and greenhouse gas scores also seem to have the same problem - maybe that's why these were all saved as strings! According to [this link](http://www.fueleconomy.gov/feg/findacarhelp.shtml#airPollutionScore), which I found from the PDF documentation:

    "If a vehicle can operate on more than one type of fuel, an estimate is provided for each fuel type."
    
Ohh... so all vehicles with more than one fuel type, or hybrids, like the one above (it uses ethanol AND gas) will have a string that holds two values - one for each. This is a little tricky, so I'm going to show you how to do it with the 2008 dataset, and then you'll try it with the 2018 dataset.

# First, let's get all the hybrids in 2008 in fuel column/

In [116]:
hb_08 = V_08[V_08['fuel'].str.contains('/')]
hb_08

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

# Looks like this dataset only has one! The 2018 has MANY more - but don't worry - the steps I'm taking here will work for that as well!

In [123]:
hb_18 = V_18[V_18['fuel'].str.contains('/')]
hb_18.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
52,BMW 330e,2.0,4,SemiAuto-8,2WD,Gasoline/Electricity,small car,3,28/66,34/78,30/71,10,Yes
78,BMW 530e,2.0,4,SemiAuto-8,2WD,Gasoline/Electricity,small car,7,27/70,31/75,29/72,10,Elite
79,BMW 530e,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,small car,7,27/66,31/68,28/67,10,Elite
92,BMW 740e,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,large car,3,25/62,29/68,27/64,9,Yes
189,CHEVROLET Impala,3.6,6,SemiAuto-6,2WD,Ethanol/Gas,large car,5,14/18,20/28,16/22,4,No

# We're going to take each hybrid row 

# and split them into two new rows - 

# one with values for the first fuel type (values before the "/"), 

# and the other with values for the second fuel type (values after the "/"). 

# Let's separate them with two dataframes!

In [124]:
# create two copies of the 2008 hybrids dataframe
df1 = hb_08.copy()  # data on first fuel type of each hybrid vehicle
df2 = hb_08.copy()  # data on second fuel type of each hybrid vehicle

# Each one should look like this
df1

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

# Lets get all the columns that have multi-values with "/" sign in the both dataset


For this next part, we're going use pandas' apply function. See the docs [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html).

In [125]:
# columns to split by "/"
split_columns = ['fuel', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg', 'greenhouse_gas_score']

# apply split function to each column of each dataframe copy
for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/")[0])
    df2[c] = df2[c].apply(lambda x: x.split("/")[1])

In [126]:
df1

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,small car,6,13,19,15,7,no

In [127]:
df2

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4,18,25,21,6,no

# combine dataframes to add to the original dataframe

In [ ]:
arr=[4,5,6,9]
arr.append(20)

In [128]:
new_rows = df1.append(df2)

# now we have separate rows for each fuel type of each vehicle!

In [129]:
new_rows

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,small car,6,13,19,15,7,no
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4,18,25,21,6,no

# drop the original hybrid rows

In [130]:
hb_08.index

Int64Index([582], dtype='int64')

In [131]:
V_08.drop(hb_08.index, inplace=True)

In [132]:
V_08.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7,18,26,21,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7,17,26,20,6,yes

In [133]:
V_08['air_pollution_score'].unique()

array(['7', '6', '9.5', '9'], dtype=object)

# add in our newly separated rows

In [134]:
V_08 = V_08.append(new_rows, ignore_index=True)

In [135]:
V_08.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7,18,26,21,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7,17,26,20,6,yes

In [136]:
V_08['air_pollution_score'].unique()

array(['7', '6', '9.5', '9', '4'], dtype=object)

In [137]:
V_08.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7,18,26,21,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7,17,26,20,6,yes

In [138]:
# check that they're gone
V_08[V_08['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

In [139]:
V_18['fuel'].unique()

array(['Gasoline', 'Gasoline/Electricity', 'Diesel', 'Ethanol/Gas'],
      dtype=object)

# Repeat this process for the 2018 dataset

# create two copies of the 2018 hybrids dataframe, hb_18

In [140]:
df1 = hb_18.copy() 
df2 = hb_18.copy()

### Split values for `fuel`, `city_mpg`, `hwy_mpg`, `cmb_mpg`
You don't need to split for `air_pollution_score` or `greenhouse_gas_score` here because these columns are already ints in the 2018 dataset.

In [141]:
# columns to split by "/"
split_columns = ['fuel', 'city_mpg', 'hwy_mpg', 'cmb_mpg']

# apply split function to each column of each dataframe copy
for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/")[0])
    df2[c] = df2[c].apply(lambda x: x.split("/")[1])

In [142]:
# append the two dataframes
new_rows =  df1.append(df2)


# drop each hybrid row from the original 2018 dataframe
# do this by using pandas' drop function with hb_18's index
V_18.drop(hb_18.index, inplace=True)

# append new_rows to df_18
V_18 = V_08.append(new_rows)

In [143]:
V_18['fuel'].unique()

array(['Gasoline', 'CNG', 'ethanol', 'gas', 'Ethanol', 'Electricity',
       'Gas'], dtype=object)

In [144]:
# check that they're gone
V_18[V_18['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

In [145]:
V_18.shape

(1063, 13)

In [146]:
V_08.shape

(987, 13)

In [147]:
V_08.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7,18,26,21,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7,17,26,20,6,yes

# convert string to float for 2008 air pollution column

In [148]:
V_08['air_pollution_score']=V_08['air_pollution_score'].astype('float')

In [150]:
V_08['air_pollution_score'].unique()

array([7. , 6. , 9.5, 9. , 4. ])

# convert int to float for 2018 air pollution column

In [151]:
V_18['air_pollution_score']=V_18['air_pollution_score'].astype('float')

In [152]:
V_18['air_pollution_score'].unique()

array([7. , 6. , 9.5, 9. , 4. , 3. , 5. , 1. ])

In [153]:
V_08.to_csv('data_08_v4.csv', index=False)
V_18.to_csv('data_18_v4.csv', index=False)

## Fix `city_mpg`, `hwy_mpg`, `cmb_mpg` datatypes
    2008 and 2018: convert string to float

Load datasets `data_08_v4.csv` and `data_18_v4.csv`. You should've created these data files in the previous section: *Fixing Data Types Pt 2*.

In [154]:
V_08=pd.read_csv('data_08_v4.csv')

V_18=pd.read_csv('data_18_v4.csv')

In [155]:
V_08.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15,20,17,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17,22,19,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16,24,19,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18,26,21,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17,26,20,6,yes

In [156]:
V_18.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15,20,17,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17,22,19,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16,24,19,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18,26,21,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17,26,20,6,yes

# convert mpg columns to floats

In [157]:
mpg_columns = ['city_mpg','hwy_mpg','cmb_mpg']
for c in mpg_columns:
    V_08[c] = V_08[c].astype('float')
    V_18[c] = V_18[c].astype('float')

## Fix `greenhouse_gas_score` datatype
    2008: convert from float to int

In [158]:
# convert from float to int
V_08['greenhouse_gas_score'] = V_08['greenhouse_gas_score'].astype('int')

## All the dataypes are now fixed! Take one last check to confirm all the changes.

In [159]:
V_08.dtypes

model                    object
displ                   float64
cyl                       int64
trans                    object
drive                    object
fuel                     object
veh_class                object
air_pollution_score     float64
city_mpg                float64
hwy_mpg                 float64
cmb_mpg                 float64
greenhouse_gas_score      int32
smartway                 object
dtype: object

In [160]:
V_18.dtypes

model                    object
displ                   float64
cyl                       int64
trans                    object
drive                    object
fuel                     object
veh_class                object
air_pollution_score     float64
city_mpg                float64
hwy_mpg                 float64
cmb_mpg                 float64
greenhouse_gas_score      int64
smartway                 object
dtype: object

# Save your final CLEAN datasets as new files!

In [161]:
V_08.to_csv('clean_08.csv', index=False)
V_18.to_csv('clean_18.csv', index=False)

# Merging Datasets
Use Pandas Merges to create a combined dataset from `clean_08.csv` and `clean_18.csv`.

1- **Rename 2008 columns to distinguish from 2018 columns after the merge**

To do this, use pandas' rename() with a lambda function. See example [Here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html)

In the lambda function, take the first 10 characters of the column label and and concatenate it with _2008. (Only take the first 10 characters to prevent really long column names.)

The lambda function should look something like this: lambda x: x[:10] + "_2008"

In your rename, don't forget to specify the parameter columns= when you add the lambda function!


2- **Perform inner merge**

To answer the last question, we are only interested in how the same model of car has been updated and how the new model's mpg compares to the old model's mpg.

Perform an inner merge with the left on model_2008 and the right on model. See documentation for pandas' merge [Here](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html).

In [211]:
# load datasets
import pandas as pd

df_08 = pd.read_csv('clean_08.csv')
df_18 = pd.read_csv('clean_18.csv')

# Create combined dataset

## rename 2008 columns

In [212]:
df_08.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15.0,20.0,17.0,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,19.0,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16.0,24.0,19.0,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18.0,26.0,21.0,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17.0,26.0,20.0,6,yes

In [213]:
df_18.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15.0,20.0,17.0,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,19.0,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16.0,24.0,19.0,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18.0,26.0,21.0,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17.0,26.0,20.0,6,yes

In [214]:
df_08.rename(columns=lambda x: x + "_2008", inplace=True)
df_08.head(5)

,model_2008,displ_2008,cyl_2008,trans_2008,drive_2008,fuel_2008,veh_class_2008,air_pollution_score_2008,city_mpg_2008,hwy_mpg_2008,cmb_mpg_2008,greenhouse_gas_score_2008,smartway_2008
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15.0,20.0,17.0,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,19.0,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16.0,24.0,19.0,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18.0,26.0,21.0,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17.0,26.0,20.0,6,yes

## view to check names

In [215]:
df_08.head()

,model_2008,displ_2008,cyl_2008,trans_2008,drive_2008,fuel_2008,veh_class_2008,air_pollution_score_2008,city_mpg_2008,hwy_mpg_2008,cmb_mpg_2008,greenhouse_gas_score_2008,smartway_2008
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15.0,20.0,17.0,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,19.0,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16.0,24.0,19.0,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18.0,26.0,21.0,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17.0,26.0,20.0,6,yes

In [216]:
df_18.head(5)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15.0,20.0,17.0,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,19.0,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16.0,24.0,19.0,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18.0,26.0,21.0,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17.0,26.0,20.0,6,yes

## lets merge the two datasets

In [217]:
df_combined = df_08.merge(df_18, left_on='model_2008', right_on='model', how='inner')

## view to check merge

In [218]:
df_combined.head()

,model_2008,displ_2008,cyl_2008,trans_2008,drive_2008,fuel_2008,veh_class_2008,air_pollution_score_2008,city_mpg_2008,hwy_mpg_2008,...,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15.0,20.0,...,Auto-S5,4WD,Gasoline,SUV,7.0,15.0,20.0,17.0,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,...,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,19.0,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16.0,24.0,...,Auto-S5,4WD,Gasoline,midsize car,7.0,16.0,24.0,19.0,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18.0,26.0,...,Auto-S5,2WD,Gasoline,midsize car,7.0,18.0,26.0,21.0,6,yes
4,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18.0,26.0,...,Auto-S5,2WD,Gasoline,midsize car,7.0,17.0,26.0,20.0,6,yes

In [219]:
df_combined.to_csv('combined_dataset.csv', index=False)

# Results with Merged Dataset
#### Q5: For all of the models that were produced in 2008 that are still being produced now, how much has the mpg improved and which vehicle improved the most?
Remember to use your new dataset, `combined_dataset.csv`

In [224]:
# load dataset
import pandas as pd
df = pd.read_csv('combined_dataset.csv')

### 1. Create a new dataframe, `model_mpg`, that contain the mean combined mpg values in 2008 and 2018 for each unique model

To do this, group by `model` and find the mean `cmb_mpg_2008` and mean `cmb_mpg` for each.

In [225]:
model_mpg = df.groupby('model').mean()[['cmb_mpg_2008', 'cmb_mpg']]

In [226]:
model_mpg.head()

           cmb_mpg_2008    cmb_mpg
model
ACURA MDX     17.000000  17.000000
ACURA RDX     19.000000  19.000000
ACURA RL      19.000000  19.000000
ACURA TL      20.666667  20.666667
ACURA TSX     22.500000  22.500000

### 2. Create a new column, `mpg_change`, with the change in mpg
Subtract the mean mpg in 2008 from that in 2018 to get the change in mpg

In [227]:
model_mpg['mpg_change'] = model_mpg['cmb_mpg'] - model_mpg['cmb_mpg_2008']

In [231]:
model_mpg

                                   cmb_mpg_2008    cmb_mpg  mpg_change
model
ACURA MDX                             17.000000  17.000000    0.000000
ACURA RDX                             19.000000  19.000000    0.000000
ACURA RL                              19.000000  19.000000    0.000000
ACURA TL                              20.666667  20.666667    0.000000
ACURA TSX                             22.500000  22.500000    0.000000
ASTON MARTIN DB9                      12.500000  12.500000    0.000000
ASTON MARTIN DB9 Volante              12.500000  12.500000    0.000000
ASTON MARTIN V8 Vantage               15.000000  15.000000    0.000000
AUDI A3                               23.333333  23.333333    0.000000
AUDI A4                               21.000000  21.000000    0.000000
AUDI A4 Avant                         19.500000  19.500000    0.000000
AUDI A4 Cabriolet                     20.000000  20.000000    0.000000
AUDI A6                               19.666667  19.666667    0.000000
AUDI A6 Avant                         20.000000  20.000000    0.000000
AUDI A8                               18.000000  18.000000    0.000000
AUDI A8 L                             16.500000  16.500000    0.000000
AUDI Q7                               15.000000  15.000000    0.000000
AUDI R8                               15.000000  15.000000    0.000000
AUDI RS4                              15.000000  15.000000    0.000000
AUDI RS4 Cabriolet                    14.000000  14.000000    0.000000
AUDI S4                               15.500000  15.500000    0.000000
AUDI S4 Avant                         15.500000  15.500000    0.000000
AUDI S4 Cabriolet                     15.500000  15.500000    0.000000
AUDI S5                               16.000000  16.000000    0.000000
AUDI S6                               16.000000  16.000000    0.000000
AUDI S8                               15.000000  15.000000    0.000000
AUDI TT Coupe                         21.666667  21.666667    0.000000
AUDI TT Roadster                      21.333333  21.333333    0.000000
BENTLEY Arnage                        11.000000  11.000000    0.000000
BENTLEY Azure                         11.000000  11.000000    0.000000
...                                         ...        ...         ...
TOYOTA Scion TC                       23.500000  23.500000    0.000000
TOYOTA Scion XB                       24.000000  24.000000    0.000000
TOYOTA Scion XD                       28.500000  28.500000    0.000000
TOYOTA Sequoia                        14.750000  14.750000    0.000000
TOYOTA Sienna                         18.500000  18.500000    0.000000
TOYOTA Solara                         23.666667  23.666667    0.000000
TOYOTA Solara Convertible             21.000000  21.000000    0.000000
TOYOTA Tacoma                         18.714286  18.714286    0.000000
TOYOTA Tundra                         15.400000  15.400000    0.000000
TOYOTA Yaris                          31.500000  31.500000    0.000000
VOLKSWAGEN Eos                        23.333333  23.333333    0.000000
VOLKSWAGEN GTI                        24.500000  24.500000    0.000000
VOLKSWAGEN Jetta                      24.166667  24.166667    0.000000
VOLKSWAGEN Jetta Wagon                24.000000  24.000000    0.000000
VOLKSWAGEN New Beetle                 23.000000  23.000000    0.000000
VOLKSWAGEN New Beetle Convertible     23.000000  23.000000    0.000000
VOLKSWAGEN Passat                     21.250000  21.250000    0.000000
VOLKSWAGEN Passat Wagon               22.000000  22.000000    0.000000
VOLKSWAGEN R32                        20.000000  20.000000    0.000000
VOLKSWAGEN Rabbit                     24.000000  24.000000    0.000000
VOLKSWAGEN Touareg                    15.000000  15.000000    0.000000
VOLVO C30                             22.750000  22.750000    0.000000
VOLVO C70 Convertible                 21.000000  21.000000    0.000000
VOLVO S40                             22.142857  22.142857    0.000000
VOLVO S60                             21.333333  21.333333    0.000000
VOLVO S80                             18.500000  18.500000    0.000000
VOLVO V50                             22.142857  22.142857    0.000000
VOLVO V70                             19.000000  19.000000    0.000000
VOLVO XC 70                           17.000000  17.000000    0.000000
VOLVO XC 90                           15.666667  27.200000   11.533333

[377 rows x 3 columns]

### 3. Find the vehicle that improved the most
Find the max mpg change, and then use query or indexing to see what model it is!

In [232]:
max_change = model_mpg['mpg_change'].max()
max_change

11.533333333333333

In [233]:
model_mpg[model_mpg['mpg_change'] == max_change]

             cmb_mpg_2008  cmb_mpg  mpg_change
model
VOLVO XC 90     15.666667     27.2   11.533333

Pandas also has a useful [`idxmax`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.idxmax.html) function you can use to find the index of the row containing a column's maximum value!

In [357]:
idx = model_mpg.mpg_change.idxmax()
idx

'VOLVO XC 90'

In [358]:
model_mpg.loc[idx]

cmb_mpg_2008    15.666667
cmb_mpg         27.200000
mpg_change      11.533333
Name: VOLVO XC 90, dtype: float64